/*타블렛*/
@media screen and (max-width: 1023px) {
  body{
    touch-action: pan-y;
  }
  .navbar {
    margin-left: 5%;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    color: whitesmoke;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
  }
  /*밑줄 호버 삭제*/
  .navbar_menu li a:hover::after {
    width: 0;
  }
  .navbar_menu li {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 10px 2px;
  }
  .navbar_toogleBTN {
   top: 50px;
    display: block;
  }
  .navbar_menu a{
    padding-left: 3%;
  }


  .navbar_menu.active {
    display: flex;
  }
  .navbar.active {
    padding-bottom: 0;
  }

  .INTRO{
    padding-left: 3%;
    padding-right: 3%;
  }
  .I_Text {
    padding: 0;
    padding-top: 7rem;
    /* padding-left: 1rem; */
  }
  .I_monitor {
    padding: 0;
    margin-left: 2%;
    margin-top: 100px;
    width: 480px;
    height: 300px;
  }

  .I_Sub_Text {
    font-size: 20px;
  }
  .I_Main_Text {
    line-height: 3rem;
    font-size: 28px;
  }
  .I_More {
    width: 16rem;
  }

  .P_C_G {
    width: 50%;
    margin-bottom: 2rem;
  }
 

  .S_Contents i {
    line-height: 5rem;
    font-size: 2.5rem;

  }
  .S_I{
 
    position: unset;
    text-align: center;
  }
  .slide-control{
    display: none;
  }

}
/*모바일*/
@media screen and (max-width: 767px) {
  /*상단바 이벤트*/
  .P_C_G {
    width: 100%;
    margin-bottom: 2rem;
  }
  .F_Links {
    font-size: 2.5rem;
  }

  .I_monitor{
    
    width: 50%;
  }
  .I_Text{
    padding-left: 4%;
  }

  .S_L_Item:nth-child(1) {
    left: 0%
  }
  
  .S_L_Item:nth-child(2) {
   
    left: 60%
  }
  
  .S_L_Item:nth-child(3) {
   
    left: 0%;
  }
  
  .S_L_Item:nth-child(4) {
   
    left: 60%
  }
  
  
  
  .S_L_Item:nth-child(5) {
    left: 00%;
  }
  
  .S_L_Item:nth-child(6) {
    
    left: 60%
  }
  
  .S_L_Item:nth-child(7) {
  
    left: 0%
  }
  .S_L_Item:nth-child(8) {
    
    left: 60%
  }

  .section .slidelist .textbox h3 {
    font-size: 1.5rem;
  }
  .section .slidelist .textbox p{
    font-size: 1rem;
  }
  .slide-pagelist{
    padding: 0;

}
  .slide-pagelist > li > label{
  margin : 20px 8px;
}

}

@media screen and (max-width: 575px) {
  .I_monitor {
    display: none;
  }
  .INTRO{
    padding: 0;
  }
  .I_Text {
   
    padding: 0;
    padding-top: 30%;
    text-align: center;
  }
  #remote {
    display: none;
  }
  .P_Contents{
    padding: 0;
  }
  .SKILL{
    padding: 0;
  }
  .PROJECT{
    padding: 0 5%;
    
  }
  .textbox{
    display: none;
  }

  .slide-pagelist{
    padding: 20px;

}
  .slide-pagelist > li > label{
  margin : 20px 10px;
}
.section .slidelist > li > a img {width :100% ; }

}





