html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*body*/
body {
  margin: 0;
  background-color: darkgray;
}

/*navbar*/

.navbar {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  z-index: 1;
}
.navbar_menu li a {
  position: relative;
  transition: 0.3s;
}

.navbar_menu li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(71, 146, 177);
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.navbar_menu li a:hover::after {
  width: 100%;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_logo {
  cursor: pointer;
  display: flex;
}

.navbar_logo p {
  padding-left: 10px;
  padding-top: 30px;
  font-size: 20px;
}

.navbar_logo img {
  width: 100px;
  float: left;
  vertical-align: middle;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
}
.navbar_toogleBTN {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
}

.navbar_toogleBTN i {
  color: black;
}

#remote {
  
  width: 105px;
  position: fixed;
  top: 30%;
  right: 1%;
  display: none;
}
#remote a {
  color: #3a3a3a;
}
#remote ul:nth-of-type(2) {
  margin-left: 10px;
}
#remote ul {
  line-height: 230%;
  padding: 2px;
}
#remote ul > li {
  padding: 0 0 0 5px;
}
#remote ul > li:hover {
  background :#e5e5e5;
}
#remote img {
  margin-right: 7px;
}

/*INTRO*/
.INTRO {
  width: 100%;
  height: 42.2em;
  background-color: whitesmoke;
  display: flex;
  padding-top: 1rem;
}

.I_Text {
  padding-left: 15rem;
  padding-top: 9rem;
  text-align: left;
  color: black;
  font-size: 38px;
  line-height: 5rem;

  margin-bottom: 20px;
}
.I_Main_Text {
  line-height: 4rem;
  font-weight: bold;
}

.I_Sub_Text {
  margin: 0;
  font-size: 25px;
}

.I_More {
  width: 20rem;
  padding: 1rem 0;
  border-radius: 0;
  font-size: 16px;
  border: 0;
  background: #1f75e8;
  color: white;
  cursor: pointer;
}
.I_monitor {
  padding-top: 6rem;
  padding-left: 9rem;
  width: auto;
  height: 65%;
}



/*PERSONAL*/
.PERSONAL {
  background-color: whitesmoke;
  width: 100%;
  color: black;
}

.P_Title {
  padding-top: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.P_Contents {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  -webkit-box-pack: justify;
}
.P_C_G {
  width: 33.3333%;
  margin-bottom: 2rem;
}

.P_C_G_I {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  opacity: 0.8;
}

.P_C_Icon i {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
}

.P_C_T {
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  opacity: 0.8;
}
.P_C_T_L {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.P_C_T_V {
  font-weight: 400;
  font-size: 1rem;
}



/*SKILL*/
.SKILL {
  background-color: whitesmoke;
  text-align: center;
}
.SKILL .S_Contents {
  width: 100%;
  height: 60em;
}
.SKILL .S_Title {
  padding-top: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}



/*PROJECT*/
.PROJECT {
  text-align: center;
  background-color: blanchedalmond;
}
.PROJECT p {
  margin: 0;
  background-color: red;
}

/*FOOTER*/
.FOOTER {
  text-align: center;
  background-color: rgb(64, 72, 83);
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  padding-bottom: 20px;
}

.F_Links {
  display: flex;
  padding-top: 1.5rem;
  font-size: 4rem;
  letter-spacing: 20px;
  justify-content: center;
}

.F_Link {
  cursor: pointer;
}

.F_Git {
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.F_Instar {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


