/* :root{
  --text-color: ;
  --background-color: ;
  --accent-color : ;

  //사용법
  color : var(--text-color);

} */


/*body*/
body{
  margin: 0;
  /* min-height: 100%; */
  background-color:darkgray;
  /* text-align: center; */
  
}


/*navbar*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue; /*색 변경해야함*/
  padding: 8px 12px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  .navbar_logo{
    font-size: 24px;
    color :white;
  }

  .navbar_logo i{
    color : yellow
  }

  .navbar_menu{
    display: flex;
    list-style: none;
    padding-left:0;
  }
  .navbar_menu li:hover{
    background-color:orange;
    border-radius: 25px;
  }

  .navbar_menu li{
    padding: 8px 12px;
  }

  .navbar_toogleBTN{
    position: absolute;
    right: 32px;
    font-size: 24px;
    display: none;
  }

  @media screen and (max-width : 768px) {
    .navbar{
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
    .navbar_menu{
      display: none;
      flex-direction: column ;
      align-items: center;
      width: 100%;
    }

    .navbar_menu li{
      width: 100%;
      text-align: center;
    }
    .navbar_toogleBTN{
      display: block;
    }

    .navbar_menu.active{
      display: flex;
    }
  }





/*INTRO*/
.INTRO{
  width: 100%;
  background-color: red;
}
.INTRO .I_Name{
background-color: blanchedalmond;
}
.INTRO .I_Subtag{
  background-color: blanchedalmond;
}


/*PERSONAL*/
.PERSONAL{
  background-color: red;
  
}

.PERSONAL .P_UP{
  width: 100%;
  display: flex;
  background-color: blanchedalmond;

  /* justify-content: space-around; */
  justify-content: space-evenly;


}
.PERSONAL .P_DOWN{
  width: 100%;
  display: flex;
  background-color: blanchedalmond;

  /* justify-content: space-around; */
  justify-content: space-evenly;
  
}


/*SKILL*/
.SKILL{
  background-color: blanchedalmond;
  
}

.SKILL p{
  margin: 0;
  background-color:red;
}


/*GIT*/
.GIT{
  /* width: 100%; */
  background-color: blanchedalmond;
  
}
.GIT img{
 margin-bottom: 5%;
 max-width: 100%;
 
}


/*PROJECT*/
.PROJECT{
  background-color: blanchedalmond;
}
.PROJECT p{
  margin: 0;
  background-color: red;
}




/*FOOTER*/
.FOOTER{
  background-color: blanchedalmond;

  bottom: 0;
  width: 100%;
} 

.FOOTER p{
  margin: 0%;
  background-color: red;
}