@media (max-width: 480px) {

  .HEADER .Menu .BTN{

    display: none;
  }
  .HEADER .Menu .Main_Logo{
    visibility: visible;
     display: inline-block;
     background-color: blue;
  }
}




/*body*/
body{
  margin: 0;
  /* min-height: 100%; */
  background-color:darkgray;
  text-align: center;
  
}
/*HEADER*/
.HEADER{
  background-color: red;
  /* margin-bottom: 3%; */
}

.HEADER .Menu .BTN{ 
  background-color: blue;
  color: white;
  float: right;
  /* display: none; */
}
.HEADER .Menu .Main_Logo {
  background-color:green;
  float: left;
  
}



/*INTRO*/
.INTRO{
  width: 100%;
  background-color: red;
}
.INTRO .I_Name{
background-color: blanchedalmond;
}
.INTRO .I_Subtag{
  background-color: blanchedalmond;
}


/*PERSONAL*/
.PERSONAL{
  background-color: red;
  
}

.PERSONAL .P_UP{
  width: 100%;
  display: flex;
  background-color: blanchedalmond;

  /* justify-content: space-around; */
  justify-content: space-evenly;


}
.PERSONAL .P_DOWN{
  width: 100%;
  display: flex;
  background-color: blanchedalmond;

  /* justify-content: space-around; */
  justify-content: space-evenly;
  
}


/*SKILL*/
.SKILL{
  background-color: blanchedalmond;
  
}


/*GIT*/
.GIT{
  /* width: 100%; */
  background-color: blanchedalmond;
  
}
.GIT img{
 margin-bottom: 5%;
 max-width: 100%;
 
}


/*PROJECT*/
.PROJECT{
  background-color: blanchedalmond;

}




/*FOOTER*/
.FOOTER{
  background-color: blanchedalmond;

  bottom: 0;
  width: 100%;
} 